
{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h2>Sales List</h2>
    <table class="table table-bordered table-striped">
        <thead class="thead-dark">
            <tr>
                <th>Order ID</th>
                <th>Customer</th>
                <th>Date</th>
                <th>Total Price</th>
            </tr>
        </thead>
        <tbody>
            {% for sale in sales %}
            <tr>
                <td>{{ sale.id }}</td>
                <td>{{ sale.customer.first_name }} {{ sale.customer.last_name }}</td>
                <td>{{ sale.date }}</td>
                <td>{{ sale.total_price }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
